body {
    overflow-x: hidden;

}

#menu a {
    font-size: 18;
    font-weight: bold;
    color: #3f3f3f;
}

#mneu button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner {
    max-height: 39rem;
}

@media (max-width:768px){
    #intro, #equipo {
        width: 90% !important;
    }
    #equipo p {
        display: none;
    }
}

section h1 span {
    text-shadow: 2px 2px black;
}

/* titulo h3 */

.titulo-h3 h3{
    text-shadow: 1px 2px black;
}

.servicio-fila{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap:wrap;
        justify-content: center !important ;
    }
}

.todo {
    background-color:rgb(208, 207, 207) ;
}
.gustos {
    margin-left: 200px
}

.oreo{
    text-shadow: 2px 2px black
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* footer */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}